.container {
    max-width: 30rem;
    padding: 1rem;
    margin: 0 auto;
}

.container h1 {
    border-bottom: 1px solid #ddd;
}

.grid {
    max-height: 35rem;
    display: grid;
    gap: .5rem;
    margin-top: 2rem;
    overflow: scroll;
}

.block {
    min-height: 5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.block:hover {
    background-color: #f8f8f8;
}

.block p {
    font-size: 1.25rem;
}
